/* ОБЩИЕ СТИЛИ */
body
  color: $color-main
  background-color: $bg-main
  font-family: $ff-main

img
  width: 100%
  vertical-align: middle

*
  margin: 0
  padding: 0
  box-sizing: border-box

.title1
  font-size: 58px
  line-height: 72px
  font-weight: 300
  text-transform: uppercase
  letter-spacing: 0.075em
  color: $color-second
  @include media-md
    font-size: 40px
    line-height: 60px
  @include media-xs
    text-align: center

.title2
  position: relative
  padding-left: 57px
  font-size: 48.2px
  line-height: 30px
  font-weight: 400
  opacity: 0.87
  &::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    display: block
    width: 37px
    height: 2px
    opacity: 0.87
    background-color: #000
    transform: translateY(-50%)
  @include media-md
    font-size: 40px
  @include media-xs
    font-size: 30px
    padding-left: 35px
    &::before
      width: 26px

.title3


.title__desc
  font-size: 18px
  line-height: 30px
  font-weight: 300
  font-family: $ff-second
  color: $color-second
  @include media-md
    font-size: 16px
  @include media-xs
    text-align: center

.accent-color
  color: $accent

.container
  position: relative
  height: 100%
  margin: 0 15%
  @include media-lg
    margin: 0 10%
  @include media-xs
    margin: 0 5%

.d-flex
  display: flex

.text
  width: 320px
  font-size: 16.1px
  line-height: 24px
  opacity: 0.87
/* . общие стили  */
