.header
  position: relative
  width: 100%
  height: 100vh
  overflow: hidden
  &__wrapper
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: transparent url('../img/bg-header.png') no-repeat 95% 50%
    background-size: auto 90%
    opacity: 0

  &__container
    padding-top: 27vh
    .bookmark
      top: -45px
      left: 80%
      &:hover
        top: 15px
    .circle
      &--big
        top: -90vh
        left: -110vh
      &--medium
        top: 50%
        right: 0
        transform: translateY(-50%)
      &--small
        top: 118px
        right: 2px
      &--empty
        top: 20px
        right: -126px

  &__content
    opacity: 0
  &__about
    width: 325px
    .title1
      margin-bottom: 14px
    .title__desc
      margin-bottom: 44px

  @include media-lg
    .bookmark
      left: 65%
    .circle
      &--big
        top: -60vh
        left: -90vh

  @include media-md
    .title__desc
      width: 320px
    .bookmark
      left: 60%
    &__wrapper
      background-size: auto 80%
      background-position: 120% 50%

  @include media-sm
    height: 450px
    text-align: center
    &__container
      padding-top: 20vh
    .btn
      &__wrap
        padding: 0 26px
    .bookmark
      left: 90%
    &__wrapper
      background: none
    .circle
      &--big
        top: -450px
        left: 50%
        transform: translateX(-50%)
      &--medium, &--small
        display: none
    &__about
      width: 100%
    .title__desc
      width: 100%
  @include media-xs
    &__container
      padding-top: 100px
    .bookmark
      display: none
    .btn
      display: block
      width: 100%
      text-align: center
