.pilates
  position: relative
  width: 100vw
  height: 100vh
  .container
    background: #fff url('../img/bg-pilates.jpg') 100% 50% no-repeat
    padding-top: 100px
  .title2
    margin-bottom: 60px
  .text
    margin-bottom: 30px

  @include media-sm
