/* Главное меню сайта */
.s-menu,.s-menu *,.s-menu *::before,.s-menu *::after
  @include myTransition

.s-menu
  position: absolute
  &__list
    position: fixed
    top: 0
    left: 0
    display: flex
    flex-direction: column
    justify-content: center
    width: 100vw
    height: 100vh
    padding-left: 30%
    background-color: $accent
    overflow: hidden
    transition: all 0.5s ease
    z-index: 100

    &--invisible
      height: 0

  &__item,
  &__link
    font-size: 48px
    font-weight: 500
    color: #fff
    text-decoration: none
    &:hover
      color: rgba(#fff,0.7)
  &__item
    position: relative
    margin-bottom: 50px

  @include media-lg
    &__item,
    &__link
      font-size: 40px
  @include media-md
    &__item,
    &__link
      font-size: 30px
    &__item
      margin-bottom: 30px
  @include media-sm
    &__item,
    &__link
      font-size: 24px
    &__list
      padding-left: 0
      text-align: center
